@font-face {
    font-family: 'CustomFont';
    src: url('Font1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont2';
    src: url('Font2.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
    font-family: 'CustomFont', Arial, sans-serif;
}

body {
    margin: 0;
    color: white;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('milkyway.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(0.3);
    transition: transform 0.1s ease;
    z-index: -2;
}


#content-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 300vw;
    height: 200vh;
    transform: translateX(-100vw);
    transition: transform 0.5s ease;
}

#information, #contact, #title-screen, #empty-screen, #trans-screen, #select-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#title {
    font-size: 7rem;
    color: #fff;
    position: absolute;
    z-index: 1;
}


.scrollButton, #transButton, #backButton, #selectButton{
    font-family: 'CustomFont', Arial, sans-serif;
}

#contact-box h2, #contact-box p, .contact-name, .contact-email, .contact-instagram {
    font-family: 'CustomFont', Arial, sans-serif;
}

.scrollButton {
    position: fixed;
    top: 10px;
    padding: 1px 2px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
}

#infoButton {
    right: 105px;
}

#contactButton {
    right: 10px;
}

#startButton {
    right: 235px;
}

#homeButton {
    right: 300px;
}

.scrollButton:hover {
    background-color: none;
}

#contact {
    background-color: transparent;
}

#contact-box {
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 255, 0.3);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    position: relative;
}

#contact-box h2 {
    color: white;
    font-size: 70px;
    margin-bottom: 10px;
}

.contact-description {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-divider {
    width: 90%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 5%;
    margin-bottom: 20px;
}

#contact-members {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 90%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.contact-member {
    width: 45%;
    height: 15vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 0;
    display: flex;
    align-items: center;
}

.contact-photo {
    width: 15vh;
    height: 15vh;
    object-fit: cover;
    border: 2px solid black;
}

.contact-info {
    padding-left: 15px;
    text-align: left;
    color: black;
}

.contact-name {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    color: black;
}

.contact-role {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 3px;
    color: black;
}

.contact-email, .contact-instagram {
    font-size: 20px;
    margin-bottom: 3px;
    color: black;
}

#title-screen {
    background-color: transparent;
}

#empty-screen {
    background-color: transparent;
}

#trans-screen {
    background-color: transparent;
}

#select-screen {
    background-color: transparent;
    position: relative;
}

#transButton {
    font-size: 5rem;
    position: absolute;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

#backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

#backButton.show {
    visibility: visible;
    opacity: 1;
}

#instruction {
    position: absolute;
    padding: 10px 20px;
    bottom: 105vh;
    left: 3vw;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

#instruction.show {
    visibility: visible;
    opacity: 1;
}

.scrollButton:disabled {
    opacity: 0.5;
}

#selectButton {
    position: absolute;
    bottom: 105vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}

#selectButton.show {
    visibility: visible;
    opacity: 1;
}

#exoinfo {
    position: absolute;
    bottom: 115vh;
    left: 5vw;
    width: 25vw;
    height: 70vh;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 10px;
    z-index: 1999;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    visibility: hidden;
    opacity: 0;
}

#exoinfo.show {
    visibility: visible;
    opacity: 1;
}

#exo1info {
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#exo1info.show {
    visibility: visible;
    opacity: 1;
}

#exo2info {
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#exo2info.show {
    visibility: visible;
    opacity: 1;
}

#exo3info {
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#exo3info.show {
    visibility: visible;
    opacity: 1;
}

#exo4info {
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#exo4info.show {
    visibility: visible;
    opacity: 1;
}

#exo5info {
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#exo5info.show {
    visibility: visible;
    opacity: 1;
}

#exo6info {
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#exo6info.show {
    visibility: visible;
    opacity: 1;
}

#exo7info {
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#exo7info.show {
    visibility: visible;
    opacity: 1;
}

#exo8info {
    position: absolute;
    top: 17vh;
    left: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#exo8info.show {
    visibility: visible;
    opacity: 1;
}

#hostinfo {
    position: absolute;
    bottom: 115vh;
    right: 5vw;
    width: 25vw;
    height: 70vh;
    background-color: rgba(0, 0, 255, 0.5);
    border-radius: 10px;
    z-index: 1999;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    visibility: hidden;
    opacity: 0;
}

#hostinfo.show {
    visibility: visible;
    opacity: 1;
}

#host1info {
    position: absolute;
    top: 17vh;
    right: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#host1info.show {
    visibility: visible;
    opacity: 1;
}

#host2info {
    position: absolute;
    top: 17vh;
    right: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#host2info.show {
    visibility: visible;
    opacity: 1;
}

#host3info {
    position: absolute;
    top: 17vh;
    right: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#host3info.show {
    visibility: visible;
    opacity: 1;
}

#host4info {
    position: absolute;
    top: 17vh;
    right: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#host4info.show {
    visibility: visible;
    opacity: 1;
}

#host5info {
    position: absolute;
    top: 17vh;
    right: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#host5info.show {
    visibility: visible;
    opacity: 1;
}

#host6info {
    position: absolute;
    top: 17vh;
    right: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#host6info.show {
    visibility: visible;
    opacity: 1;
}

#host7info {
    position: absolute;
    top: 17vh;
    right: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#host7info.show {
    visibility: visible;
    opacity: 1;
}

#host8info {
    position: absolute;
    top: 17vh;
    right: 7vw;
    width: 21vw;
    max-width: 21vw;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    visibility: hidden;
    z-index: 2000;
    transition: visibility 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    font-family: 'CustomFont2', Arial, sans-serif;
}

#host8info.show {
    visibility: visible;
    opacity: 1;
}
